<!DOCTYPE html>
<html>
<head>
    <link type="text/css" href="css/menu.css" rel="stylesheet" />
    <link type="text/css" href="css/content.css" rel="stylesheet" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="menu.js"></script>

    <link href="kendo/styles/kendo.common.min.css" rel="stylesheet" />
    <link href="kendo/styles/kendo.default.min.css" rel="stylesheet" />
    <script src="kendo/js/jquery.min.js"></script>
    <script src="kendo/js/kendo.web.min.js"></script>

    <title>Fate/Another Ranking System</title>
    <meta charset="utf-8" />
    <style type="text/css">
        /* background */
        html, body {
            width: 100%;
            height: 100%;
        }
        
        html {
            display: table;
        }

        body {
            display: table-cell;
            background-color: grey;
            background-position: center center;
            -moz-background-size: cover;
            -o-background-size: cover;
            -webkit-background-size: cover;
            background-size: cover;
            vertical-align: middle;
        }
    </style>

    <script>
        //http://localhost:64402/
        $(document).ready(function () {

            //            $("#content").load("Home");
            $("#content").load("SearchPlayer");

            $("#menuHomePage").click(function () {
                $("#content").load("Home");
            })
            $("#menuSearchPlayer").click(function () {
                $("#content").load("SearchPlayer");
            })
            $("#menuSearchGame").click(function () {
                $("#content").load("SearchGame");
            })
            $("#menuAboutPage").click(function () {
                $("#content").load("About");
            })
        });
</script>
</head>
<body>
    <div id="container">

        <div id="title" style="background-color: #FFA500">
            <h1 style="position: fixed; top: 0; left: 0; width: 100%; height: 23px; text-align: center">
                <img src="http://placehold.it/500x50" />
            </h1>
        </div>

        <div id="login" style="position: fixed; top: 85px; text-align: right">
            Username<input type="text" id="user">
            Password<input type="text" id="pass">
            <button onclick="login()" id="loginButton">Log In</button><br />
        </div>

        <div id="menu">
            <ul class="menu">
                <li id="menuHomePage"><a href="#"><span>Home</span></a></li>
                <li><a href="#" class="parent"><span>Search</span></a>
                    <div>
                        <ul>
                            <li id="menuSearchPlayer"><a href="#"><span>Player</span></a></li>
                            <li id="menuSearchGame"><a href="#"><span>Game</span></a></li>
                        </ul>
                    </div>
                </li>
                <li id="menuAboutPage"><a href="#"><span>About</span></a></li>
                <li class="last"><a href="#" class="parent" id="admin"><span>Administration</span></a>
                    <div>
                        <ul>
                            <li><a href="#"><span>Edit News</span></a></li>
                            <li><a href="#"><span>Ban User</span></a></li>
                            <li><a href="#"><span>Appeal Ban</span></a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>

        <div id="content">

        </div>

    </div>
</body>
</html>
