<div id ="PlayerStatPage">
    <script>
        console.log(localStorage);
        var playerinfo = {
            "playername": localStorage.PlayerName,
            "realm": localStorage.Realm,
            "RegDate": localStorage.RegDate,
            "Win": localStorage.Win,
            "Loss":localStorage.Loss,
            "PlayCount": localStorage.PlayCount
        };
        document.getElementById("Name").innerHTML = playerinfo.playername + playerinfo.realm;
        document.getElementById("playerRegDate").innerHTML = playerinfo.RegDate;
        document.getElementById("playerWin").innerHTML = playerinfo.Win;
        document.getElementById("playerLoss").innerHTML = playerinfo.Loss;
        document.getElementById("playerPlayCount").innerHTML = playerinfo.PlayCount;
    </script>

    <div id="Player">
        <span id="Name"></span>
    </div>
    <div id="PlayerInfo">
        <table border="1">
            <tr>
                <td>
                    Registered Date
                </td>
                <td>
                    Wins
                </td>
                <td>
                    Losses
                </td>
                <td>
                    PlayCount
                </td>
            </tr>
            <tr>
                <td id="playerRegDate">
                </td>
                <td id="playerWin">
                </td>
                <td id="playerLoss">
                </td>
                <td id="playerPlayCount">
                </td>
            </tr>
        </table>
    </div>
</div>