<div id="SearchPlayerContent">
Search Player: <input type="text" name="player" id="player">
    <select name="realm" id="realm">
    <option value="useast">USEast</option>
    <option value="asia">Asia</option>
    </select>
    <button id="playerSearchButton">Search</button>

<ul id="displayContent">
</ul>

<div id="example" class="k-content">
    <style>
    #grid tbody tr:hover {
        background: #ff0000;
    }
    </style>
            <div id="grid"></div>
            <script>
                var input = new Object();
                input.player = $("#player").val();
                input.realm = $("#realm").val();

                $(document).ready(function () {
                    $("#grid").kendoGrid({
                        dataSource: {
                            type: JSON,
                            transport: {
                                read: {
                                    url: function () {
                                        return "player/" + input.realm + "/" + input.player
//                                        return "http://localhost:64402/player/listdata/" + input.player + input.realm
                                    }
                                }
                            },
                            schema: {
                                model: {
                                    fields: {
                                        PlayerName: { type: "string" },
                                        ServerName: { type: "string" },
                                        RegDate: { type: "date" },
                                        Win: { type: "int" },
                                        Loss: { type: "int" },
                                        PlayCount: { type: "int" },
                                    }
                                }
                            },
                            pageSize: 20,
                            serverPaging: true,
                            serverFiltering: true,
                            serverSorting: true
                        },

                        selectable: "multiple, row",
                        height: 430,
                        filterable: true,
                        sortable: true,
                        pageable: true,
                        columns: [
                            {
                                title: 'Player Name',
                                field: "PlayerName",
                            },
                            {
                                field: "RegDate",
                                title: "Register Date",
                                format: "{0:MM/dd/yyyy}"
                            },
                            "Win",
                            "Loss",
                            "PlayCount"
                        ],
                        
                        change: function () {
                            var grid = this;

                            grid.select().each(function () {
                                var dataItem = grid.dataItem($(this));
//                                console.log(dataItem);
                                if (typeof (Storage) !== "undefined") {
                                    localStorage.PlayerName = dataItem.PlayerName;
                                    localStorage.Realm = input.realm;
                                    localStorage.RegDate = dataItem.RegDate;
                                    localStorage.Win = dataItem.Win;
                                    localStorage.Loss = dataItem.Loss;
                                    localStorage.PlayCount = dataItem.PlayCount;
                                }
                                $("#SearchPlayerContent").load("PlayerStats");
                            });
                        }
                    })
                });

                $("#playerSearchButton").click(function () {
                    input.player = $("#player").val();
                    input.realm = $("#realm").val();
                    $("#grid").data("kendoGrid").dataSource.read();
                });
            </script>
        </div>
    </div>