.statsBox {
	border-left: 1px solid #cdd2d2;
	border-right: 1px solid #cdd2d2;
	border-top: 1px solid #cdd2d2;
    box-shadow: 0 1px #dcdfdf;
    background: #E8EAEA;
    border-radius: 2px;
	margin: 8px;
}

.statsHeader {
	font-size: 15pt;
	padding: 10px 15px;
	background: #F2F2F2;
	border-bottom: 1px solid #cdd2d2;
}

.statVal {
	font-size: 13pt;
}

.statsTable {
	margin-bottom: 0px !important;
}
